{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<head>
    <meta charset="UTF-8">
    <title>skin about</title>
    <style>
        h1,h2,h3,h4,h5,h6
        {
           font-family:serif;
           justify-content: space-around;
           color:#130452;
           margin-left:23px;

        }
        p{
            font-size:17.5px;
            font-family: Oxygen, Ubuntu, Cantarell;
            margin-left:25px;
        }
        h3{
            font-size:27px;
            font-weight: bolder;
        }
        h4{
            font-size:21px;
            font-weight: bolder;
        }
        li{
            font-family:serif;
           justify-content: space-around;
            font-size:17px;
            font-weight: 300px;
        }
        ul
        {
            font-family:serif;
           justify-content: space-around;
            list-style: disc;
            margin-left:25px;
        }
    </style>
    </head>
    <body>
        <div class="card card-body" style="border-color:transparent;">
            <div class="row">
                <div class="col-lg-5">
<h2>
	Overview
</h2>
<p>
	Breast cancer is cancer that forms in the cells of the breasts.
</p>
<p>
	After skin cancer, breast cancer is the most common cancer diagnosed in
	women in the United States. Breast cancer can occur in both men and women,
	but it's far more common in women.
</p>
<p>
	Substantial support for breast cancer awareness and research funding has
	helped created advances in the diagnosis and treatment of breast cancer.
	Breast cancer survival rates have increased, and the number of deaths
	associated with this disease is steadily declining, largely due to factors
	such as earlier detection, a new personalized approach to treatment and a
	better understanding of the disease.
</p>
</div>
<div class="col-lg-7">
    <img src="/static/bc.png" width="80%" height="80%">
</div>
</div>
<div class="row">
    <div class="col-lg-7">
        <img src="/static/bc2.png" width="70%" height="80%">
    </div>
    <div class="col-lg-5">
<h2>
	Types
</h2>
		<ul style="list-style: disc;">
			<li>
				Angiosarcoma
			</li>
			<li>
					Ductal carcinoma in situ (DCIS)
			</li>
			<li>
	
					Inflammatory breast cancer
			</li>
			<li>
					Invasive lobular carcinoma
			</li>
			<li>
					Lobular carcinoma in situ (LCIS)
			</li>
			<li>
					Male breast cancer
			</li>
			<li>
					Paget's disease of the breast
			</li>
			<li>
					Recurrent breast cancer
			</li>
		</ul>

<h2>
	Symptoms
</h2>
<p>
	Signs and symptoms of breast cancer may include:
</p>
<ul>
	<li>
		A breast lump or thickening that feels different from the surrounding
		tissue
	</li>
	<li>
		Change in the size, shape or appearance of a breast
	</li>
	<li>
		Changes to the skin over the breast, such as dimpling
	</li>
	<li>
		A newly inverted nipple
	</li>
	<li>
		Peeling, scaling, crusting or flaking of the pigmented area of skin
		surrounding the nipple (areola) or breast skin
	</li>
	<li>
		Redness or pitting of the skin over your breast, like the skin of an
		orange
	</li>
</ul>
</div>
</div>
<h3>
	When to see a doctor
</h3>
<p>
	If you find a lump or other change in your breast - even if a recent
	mammogram was normal - make an appointment with your doctor for prompt
	evaluation.
</p>
<h2>
	Causes
</h2>
<p>
	Doctors know that breast cancer occurs when some breast cells begin to grow
	abnormally. These cells divide more rapidly than healthy cells do and
	continue to accumulate, forming a lump or mass. Cells may spread
	(metastasize) through your breast to your lymph nodes or to other parts of
	your body.
</p>
<p>
	Breast cancer most often begins with cells in the milk-producing ducts
	(invasive ductal carcinoma). Breast cancer may also begin in the glandular
	tissue called lobules (invasive lobular carcinoma) or in other cells or
	tissue within the breast.
</p>
<p>
	Researchers have identified hormonal, lifestyle and environmental factors
	that may increase your risk of breast cancer. But it's not clear why some
	people who have no risk factors develop cancer, yet other people with risk
	factors never do. It's likely that breast cancer is caused by a complex
	interaction of your genetic makeup and your environment.
</p>
<h3>
	Inherited breast cancer
</h3>
<p>
	Doctors estimate that about 5 to 10 percent of breast cancers are linked to
	gene mutations passed through generations of a family.
</p>
<p>
	A number of inherited mutated genes that can increase the likelihood of
	breast cancer have been identified. The most well-known are breast cancer
	gene 1 (BRCA1) and breast cancer gene 2 (BRCA2), both of which
	significantly increase the risk of both breast and ovarian cancer.
</p>
<p>
	If you have a strong family history of breast cancer or other cancers, your
	doctor may recommend a blood test to help identify specific mutations in
	BRCA or other genes that are being passed through your family.
</p>
<p>
	Consider asking your doctor for a referral to a genetic counselor, who can
	review your family health history. A genetic counselor can also discuss the
	benefits, risks and limitations of genetic testing to assist you with
	shared decision-making.
</p>
<h2>
	Risk factors
</h2>
<p>
	A breast cancer risk factor is anything that makes it more likely you'll
	get breast cancer. But having one or even several breast cancer risk
	factors doesn't necessarily mean you'll develop breast cancer. Many women
	who develop breast cancer have no known risk factors other than simply
	being women.
</p>
<p>
	Factors that are associated with an increased risk of breast cancer
	include:
</p>
<ul>
	<li>
		<strong>Being female.</strong>
		Women are much more likely than men are to develop breast cancer.
	</li>
	<li>
		<strong>Increasing age.</strong>
		Your risk of breast cancer increases as you age.
	</li>
	<li>
		<strong>A personal history of breast conditions.</strong>
		If you've had a breast biopsy that found lobular carcinoma in situ
		(LCIS) or atypical hyperplasia of the breast, you have an increased
		risk of breast cancer.
	</li>
	<li>
		<strong>A personal history of breast cancer.</strong>
		If you've had breast cancer in one breast, you have an increased risk
		of developing cancer in the other breast.
	</li>
	<li>
		<strong>A family history of breast cancer.</strong>
		If your mother, sister or daughter was diagnosed with breast cancer,
		particularly at a young age, your risk of breast cancer is increased.
		Still, the majority of people diagnosed with breast cancer have no
		family history of the disease.
	</li>
	<li>
		<strong>Inherited genes that increase cancer risk.</strong>
		Certain gene mutations that increase the risk of breast cancer can be
		passed from parents to children. The most well-known gene mutations are
		referred to as BRCA1 and BRCA2. These genes can greatly increase your
		risk of breast cancer and other cancers, but they don't make cancer
		inevitable.
	</li>
	<li>
		<strong>Radiation exposure.</strong>
		If you received radiation treatments to your chest as a child or young
		adult, your risk of breast cancer is increased.
	</li>
	<li>
		<strong>Obesity.</strong>
		Being obese increases your risk of breast cancer.
	</li>
	<li>
		<strong>Beginning your period at a younger age.</strong>
		Beginning your period before age 12 increases your risk of breast
		cancer.
	</li>
	<li>
		<strong>Beginning menopause at an older age.</strong>
		If you began menopause at an older age, you're more likely to develop
		breast cancer.
	</li>
	<li>
		<strong>Having your first child at an older age.</strong>
		Women who give birth to their first child after age 30 may have an
		increased risk of breast cancer.
	</li>
	<li>
		<strong>Having never been pregnant.</strong>
		Women who have never been pregnant have a greater risk of breast cancer
		than do women who have had one or more pregnancies.
	</li>
	<li>
		<strong>Postmenopausal hormone therapy.</strong>
		Women who take hormone therapy medications that combine estrogen and
		progesterone to treat the signs and symptoms of menopause have an
		increased risk of breast cancer. The risk of breast cancer decreases
		when women stop taking these medications.
	</li>
	<li>
		<strong>Drinking alcohol.</strong>
		Drinking alcohol increases the risk of breast cancer.
	</li>
  <br>
  <div class="row">
    <div class="col-lg-5">
		<h3>Prevention</h3><br>
		<h4>
			Breast cancer risk reduction for women
		</h4>
		<div>
		</div>
		<p>
			Making changes in your daily life may help reduce your risk of
			breast cancer. Try to:
		</p>
		<ul>
			<li>
				<p>
					<strong>
						Ask your doctor about breast cancer screening.
					</strong>
					Discuss with your doctor when to begin breast cancer
					screening exams and tests, such as clinical breast exams
					and mammograms.
				</p>
				<p>
					Talk to your doctor about the benefits and risks of
					screening. Together, you can decide what breast cancer
					screening strategies are right for you.
				</p>
			</li>
			<li>
				<p>
					<strong>
						Become familiar with your breasts through breast
						self-exam for breast awareness.
					</strong>
					Women may choose to become familiar with their breasts by
					occasionally inspecting their breasts during a breast
					self-exam for breast awareness. If there is a new change,
					lumps or other unusual signs in your breasts, talk to your
					doctor promptly.
				</p>
			</li>
            </ul>
        </div>
        <div class="col-lg-7">
            <img src="/static/bc1.png" width="80%" height="80%">
        </div>
        </div>
        <ul>

            <li>
                <p>
					Breast awareness can't prevent breast cancer, but it may
					help you to better understand the normal changes that your
					breasts undergo and identify any unusual signs and
					symptoms.
				</p>
				<strong>Drink alcohol in moderation, if at all.</strong>
				Limit the amount of alcohol you drink to no more than one drink
				a day, if you choose to drink.
			</li>
			<li>
				<strong>Exercise most days of the week.</strong>
				Aim for at least 30 minutes of exercise on most days of the
				week. If you haven't been active lately, ask your doctor
				whether it's OK and start slowly.
			</li>
			<li>
				<p>
					<strong>Limit postmenopausal hormone therapy.</strong>
					Combination hormone therapy may increase the risk of breast
					cancer. Talk with your doctor about the benefits and risks
					of hormone therapy.
				</p>
				<p>
					Some women experience bothersome signs and symptoms during
					menopause and, for these women, the increased risk of
					breast cancer may be acceptable in order to relieve
					menopause signs and symptoms.
				</p>
				<p>
					To reduce the risk of breast cancer, use the lowest dose of
					hormone therapy possible for the shortest amount of time.
				</p>
			</li>
			<li>
				<strong>Maintain a healthy weight.</strong>
				If your weight is healthy, work to maintain that weight. If you
				need to lose weight, ask your doctor about healthy strategies
				to accomplish this. Reduce the number of calories you eat each
				day and slowly increase the amount of exercise.
			</li>
			<li>
				<strong>Choose a healthy diet.</strong>
				Women who eat a Mediterranean diet supplemented with
				extra-virgin olive oil and mixed nuts may have a reduced risk
				of breast cancer. The Mediterranean diet focuses mostly on
				plant-based foods, such as fruits and vegetables, whole grains,
				legumes, and nuts. People who follow the Mediterranean diet
				choose healthy fats, such as olive oil, over butter and fish
				instead of red meat.
			</li>
		</ul>
		<h3>
			Breast cancer risk reduction for women
		</h3>
		<p>
			If your doctor has assessed your family history and determined that
			you have other factors, such as a precancerous breast condition,
			that increase your risk of breast cancer, you may discuss options
			to reduce your risk, such as:
		</p>
		<ul>
			<li>
				<p>
					<strong>Preventive medications (chemoprevention).</strong>
					Estrogen-blocking medications, such as selective estrogen
					receptor modulators and aromatase inhibitors, reduce the
					risk of breast cancer in women with a high risk of the
					disease.
				</p>
				<p>
					These medications carry a risk of side effects, so doctors
					reserve these medications for women who have a very high
					risk of breast cancer. Discuss the benefits and risks with
					your doctor.
				</p>
			</li>
			<li>
				<strong>Preventive surgery.</strong>
				Women with a very high risk of breast cancer may choose to have
				their healthy breasts surgically removed (prophylactic
				mastectomy). They may also choose to have their healthy ovaries
				removed (prophylactic oophorectomy) to reduce the risk of both
				breast cancer and ovarian cancer.
			</li>
		</ul>
</ul>
        </div>
</body>
</html>
{% endblock %}