{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>skin about</title>
    <style>
        h1,h2,h3,h4,h5,h6
        {
           font-family:serif;
           justify-content: space-around;
           color:#130452;
           margin-left:23px;

        }
        p{
            font-size:17.5px;
            font-family: Oxygen, Ubuntu, Cantarell;
            margin-left:25px;
        }
        h3{
            font-size:27px;
            font-weight: bolder;
        }
        h4{
            font-size:21px;
            font-weight: bolder;
        }
        li{
            font-family:serif;
           justify-content: space-around;
            font-size:17px;
            font-weight: 300px;
        }
        ul
        {
            font-family:serif;
           justify-content: space-around;
            list-style: disc;
            margin-left:25px;
        }
    </style>
    </head>
    <body>
        <div class="card card-body" style="border-color:transparent;">
            <div class="row">
                <div class="col-lg-5">
<h2>Overview</h2>
<p>Infectious diseases are disorders caused by organisms &mdash; such as bacteria, viruses,   parasites. Many organisms  in and on our bodies. They&apos;re normally harmless or even helpful. But under certain conditions, some organisms   disease.</p>
<p>Some  diseases  be passed from  to person. Some are   insects or other animals. And you may  others by consuming contaminated  or water  being exposed  organisms in the environment.</p>
<div><br></div>
<p>Signs and symptoms vary depending on the organism   infection, but often include fever and fatigue. Mild infections may respond to rest and home remedies,  some life-threatening infections may  hospitalization.</p>
<p>Many infectious diseases, such as measles  chickenpox,  be prevented by vaccines.  and thorough hand-washing also helps protect  from most  diseases.</p>
</div>
<div class="col-lg-7">
    <img src="/static/common.png" width="80%" height="90%">
</div>
</div>
<div class="row">
    <div class="col-lg-7">
        <img src="/static/common1.png" width="70%" height="80%">
    </div>
    <div class="col-lg-5">
<h2>Symptoms</h2>
<p>Each infectious disease has its own specific signs and symptoms. General signs and symptoms common  a number of infectious  include:</p>
<ul>
    <li>Fever</li>
    <li>Diarrhea</li>
    <li>Fatigue</li>
    <li>Muscle aches</li>
    <li>Coughing</li>
</ul>
<h3> when to see a doctor</h3>
<p>Seek medical attention if you:</p>
<ul>
    <li> been bitten by an animal</li>
    <li>Are having trouble breathing</li>
    <li> been coughing for more than a week</li>
    <li>Have severe headache with fever</li>
    <li>Experience a or swelling</li>
    <li>Have unexplained or prolonged fever</li>
    <li>Have sudden vision problems</li>
</ul>
</div>
</div>
<h2>Causes</h2>
<p>Infectious diseases can be caused by:</p>
<ul>
    <li><strong>Bacteria.</strong> These one-cell organisms are responsible  illnesses such as throat, urinary tract infections and tuberculosis.</li>
    <li><strong>Viruses.</strong> smaller than bacteria, viruses cause a multitude  diseases ranging from the common cold to AIDS.</li>
    <li><strong>Fungi.</strong> Many skin diseases, such as ringworm and athlete&apos;s foot, are caused by fungi. Other types of  infect your lungs or nervous system.</li>
    <li><strong>Parasites.</strong> Malaria is  a tiny parasite  transmitted by a bite. parasites may be transmitted to from animal feces.</li>
</ul>
<h3>Direct contact</h3>
<p>An easy way to catch most diseases  by coming in contact with a person  an animal the infection. Infectious can be spread through contact as:</p>
<ul>
    <li>
        <p><strong> person.</strong> Infectious diseases commonly spread through  direct transfer  bacteria, viruses or other germs from one person to another. This can happen when  individual with the bacterium or touches, kisses, or coughs or sneezes on someone who isn&apos;t infected.</p>
        <p>These germs  also spread through the exchange of body from sexual contact. The person  passes the  have no symptoms of the disease, but may simply be a carrier.</p>
    </li>
    <li><strong> person.</strong> Being bitten or scratched by an infected animal &mdash; even a pet &mdash; can make you sick and, in extreme circumstances, can  fatal. Handling animal waste  be hazardous, too. For example, you can get a toxoplasmosis infection by scooping your cat&apos;s litter box.</li>
    <li><strong>Mother  unborn child.</strong> A pregnant may pass germs that cause infectious  her unborn baby. Some germs  through the placenta  through breast milk. Germs in the vagina can also be transmitted to the baby birth.</li>
</ul>
<h3>Indirect contact</h3>
<p>Disease-causing organisms also can be by indirect contact. Many germs can linger on an inanimate object, such as a tabletop, doorknob or faucet handle.</p>
<p>When you a doorknob by ill with the flu or a cold, for example, you can pick up the he or she left behind. If  then touch eyes, mouth or before washing hands, you may become infected.</p>
<h3>Insect bites</h3>
<p>germs rely on insect carriers &mdash; such as mosquitoes, fleas, lice or ticks &mdash; to move from host  host. These carriers are known as vectors. Mosquitoes  carry the or West Nile virus. Deer ticks may carry  bacterium that causes Lyme disease.</p>
<h3>Food contamination</h3>
<p>Disease-causing can infect  food and water. This mechanism of transmission germs to be spread to many people through a source. Escherichia coli (E. coli), for example,  a bacterium in or on certain &mdash; such as undercooked hamburger or unpasteurized juice.</p>
<div class="row">
    <div class="col-lg-5">
<h2>Risk factors</h2>
<p>While  infectious diseases, you may be more likely to get sick if your immune system isn&apos;t working properly. This  occur if:</p>
<ul>
    <li>You&apos;re taking steroids or other medications that suppress your system, such as anti-rejection drugs  a transplanted organ</li>
    <li>You have  or AIDS</li>
    <li>You have  or other disorders that affect your immune system</li>
</ul>
<p>In addition, certain other medical conditions  predispose you to infection, including implanted devices, malnutrition and extremes of age, among others.</p>
<h2>Complications</h2>
<p>Most infectious diseases have only minor complications.  some infections &mdash; such  pneumonia, AIDS and meningitis &mdash; can become life-threatening. A few types of infections have linked to a long-term increased of cancer:</p>
<ul>
    <li>Human papillomavirus is linked to cancer</li>
    <li>pylori is to stomach cancer and ulcers</li>
    <li>Hepatitis B and C have linked to liver cancer</li>
</ul>
</div>
<div class="col-lg-7">
    <img src="/static/common2.png" width="80%" height="80%">
</div>
</div>
<p>In addition, some diseases may become silent, only to appear again in the future &mdash; decades later. For example, someone who&apos;s had chickenpox may develop shingles much later in life.</p>
<h2>Prevention</h2>
<p>Follow tips to decrease the risk  infection:</p>
<ul>
    <li><strong>Wash your hands.</strong> This is especially important before and after food, before eating,  after using the toilet. And  not to touch your eyes, nose  mouth with your hands, as that&apos;s a common  germs the body.</li>
    <li><strong>Get vaccinated.</strong> Vaccination can drastically reduce your chances of contracting many diseases. Make sure to keep up  date on recommended vaccinations, as well as your children&apos;s.</li>
    <li><strong>Stay home ill.</strong> Don&apos;t go to work if you are vomiting, have diarrhea  have a fever. Don&apos;t child to school if he or she has these signs, either.</li>
    <li>
        <p><strong>Prepare food safely.</strong> Keep counters and other kitchen surfaces clean when preparing meals. Cook to the temperature, using a food thermometer  check for doneness.  ground meats, that means  least 160 F (71 C); for poultry, 165 F (74 C); and for most other meats, at least 145 F (63 C).</p>
        <p>promptly refrigerate leftovers &mdash; don&apos;t let foods remain at room temperature for long  of time.</p>
    </li>
    <li><strong>Practice safe sex.</strong> Always use condoms if you or  partner has a history of  transmitted infections or high-risk behavior.</li>
    <li><strong>Don&apos;t share personal items.</strong> Use   toothbrush, comb and razor. Avoid sharing drinking    utensils.</li>
    <li><strong>Travel wisely.</strong> If you&apos;re traveling out of the country, talk to your doctor about any special vaccinations &mdash;  as yellow fever, cholera, hepatitis A or B,  typhoid  &mdash;  may need.</li>
</ul>
</div>
</body>
</html>
{% endblock %}