{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<head>
    <meta charset="UTF-8">
    <title>skin about</title>
    <style>
        h1,h2,h3,h4,h5,h6
        {
           font-family:serif;
           justify-content: space-around;
           color:#130452;
           margin-left:23px;

        }
        p{
            font-size:17.5px;
            font-family: Oxygen, Ubuntu, Cantarell;
            margin-left:25px;
        }
        h3{
            font-size:27px;
            font-weight: bolder;
        }
        h4{
            font-size:21px;
            font-weight: bolder;
        }
        li{
            font-family:serif;
           justify-content: space-around;
            font-size:17px;
            font-weight: 300px;
        }
        ul
        {
            font-family:serif;
           justify-content: space-around;
            list-style: disc;
            margin-left:25px;
        }
    </style>
    </head>
    <body>
        <div class="card card-body" style="border-color:transparent;">
            <div class="row">
                <div class="col-lg-5">
        <p ><strong>Overview</strong></p>
        <p >Pneumonia is an infection that inflames the air sacs in one or both lungs.The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, 
            and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.Pneumonia can range in seriousness
            from mild to life-threatening. It is most serious for infants and young children,
             people older than age 65, and people with health problems or weakened immune
             systems.</p>
        <br><br>
        <p ><strong>Symptoms</strong></p>
                <li>Chest pain when you breathe or cough</span></span></li>
                <li>Confusion or changes in mental awareness (in adults age 65 and older)</span></span>
                </li>
                <li>Cough, which may produce phlegm</span></span></li>
                <li>Fatigue</span></span></li>
                <li>Fever, sweating and shaking chills</span></span></li>
                <li>Lower than normal body temperature (in adults older than age 65 and people with weak
                    immune systems)</span></span></li>
                <li>Nausea, vomiting or diarrhea</span></span></li>
                <li>Shortness of breath</span></span></li>
                <br><br>
    </div>
    <div class="col-lg-7">
        <img src="/static/pneumonia2.png" width="100%" height="100%">
    </div>
    </div>
    <div class="row">
        <p ><strong>Risk factors</strong></p>
        <p>Pneumonia can affect anyone. But the two age groups at highest risk
            are:</span></span></p>
        <ul style="list-style-type: disc;margin-left:1cmundefined;">
            <li>Being hospitalized.</span></strong>&nbsp;You&apos;re at greater risk of
                pneumonia if you&apos;re in a hospital intensive care unit, especially if
                you&apos;re on a machine that helps you breathe (a ventilator).</span></li>
            <li>Chronic disease.</span></strong>&nbsp;You&apos;re more likely to get pneumonia
                if you have asthma, chronic obstructive pulmonary disease (COPD) or heart
                disease.</span></li>
            <li>Smoking.</span></strong>&nbsp;Smoking damages your body&apos;s natural defenses
                against the bacteria and viruses that cause pneumonia.</span></li>
            <li>Weakened or suppressed immune system.</span></strong>&nbsp;People who have
                HIV/AIDS, who&apos;ve had an organ transplant, or who receive chemotherapy or
                long-term steroids are at risk.</span></li>
            <li>Pneumonia is an infection that inflames the air
                sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing
                cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including
                bacteria, viruses and fungi, can cause pneumonia.</li>
            <li>Pneumonia can range in seriousness from mild to
                life-threatening. It is most serious for infants and young children, people older than age 65, and
                people with health problems or weakened immune systems.</li>
        </ul>
        <br><br>

        <p ><strong>Symptoms</strong></p>
        <p>The signs and symptoms of pneumonia vary from mild
    to severe, depending on factors such as the type of germ causing the infection, and your age and
    overall health. Mild signs and symptoms often are similar to those of a cold or flu, but they last
    longer</p>
        <ul style="list-style-type: disc;">
            <li>Chest pain when you breathe or
                cough</li>
            <li>Confusion or changes in mental awareness (in
                adults age 65 and older)</li>
            <li>Cough, which may produce phlegm</li>
            <li>Fatigue</li>
            <li>Fever, sweating and shaking
                chills</li>
            <li>Lower than normal body temperature (in adults
                older than age 65 and people with weak immune systems)</li>
            <li>Nausea, vomiting or diarrhea</li>
            <li>Shortness of breath</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <img src="/static/pneumonia1.png" width="80%" height="90%">
        </div>
        <div class="col-lg-5">
        <p ><strong>Prevention</strong></p>
        <ul style="list-style-type: disc;">
            <li>Get vaccinated. Vaccines are available to prevent some types of pneumonia and the flu. Talk with your doctor about getting these shots. The vaccination guidelines have changed over time so make sure to review your vaccination status with your doctor even if you recall previously receiving a pneumonia vaccine.</li>
            <li>Make sure children get vaccinated. Doctors recommend a different pneumonia vaccine for children younger than age 2 and for children ages 2 to 5 years who are at particular risk of pneumococcal disease. Children who attend a group child care center should also get the vaccine. Doctors also recommend flu shots for children older than 6 months.</li>
            <li>Practice good hygiene. To protect yourself against respiratory infections that sometimes lead to pneumonia, wash your hands regularly or use an alcohol-based hand sanitizer.</li>
            <li>Don't smoke. Smoking damages your lungs' natural defenses against respiratory infections.</li>
            <li>Keep your immune system strong. Get enough sleep, exercise regularly and eat a healthy diet.</li>
            
        </ul>
    </div>
    </div>
        <p ><strong>Complications</strong></p>
        <ul style="list-style-type: disc;">
            <p>Even with treatment, some people with pneumonia, especially those in high-risk groups, may experience complications, including:</p>
            <li><strong>Bacteria in the bloodstream (bacteremia).</strong> Bacteria that enter the bloodstream from your lungs can spread the infection to other organs, potentially causing organ failure.</li>
            <li><strong>Fluid accumulation around the lungs (pleural effusion).</strong> Pneumonia may cause fluid to build up in the thin space between layers of tissue that line the lungs and chest cavity (pleura). If the fluid becomes infected, you may need to have it drained through a chest tube or removed with surgery.</li>
            <li><strong>Lung abscess.</strong> An abscess occurs if pus forms in a cavity in the lung. An abscess is usually treated with antibiotics. Sometimes, surgery or drainage with a long needle or tube placed into the abscess is needed to remove the pus.</li>
        </ul>
        
        <p ><strong>Causes</strong></p>
        <p >Many germs can cause pneumonia. The most common are bacteria and viruses in the air we breathe. Your body usually prevents these germs from infecting your lungs. But sometimes these germs can overpower your immune system, even if your health is generally good.

            Pneumonia is classified according to the types of germs that cause it and where you got the infection.</p>
        <p ><strong>Community-acquired pneumonia</strong></p>
        <p>Community-acquired pneumonia is the most common type of pneumonia. It occurs outside of hospitals or other health care facilities. It may be caused by:</p>
        <ul style="list-style-type: disc;">
            <li><strong>Bacteria. </strong>The most common cause of bacterial pneumonia in the U.S. is Streptococcus pneumoniae. This type of pneumonia can occur on its own or after you've had a cold or the flu. It may affect one part (lobe) of the lung, a condition called lobar pneumonia.</li>
            <li><strong>Bacteria-like organisms.</strong> Mycoplasma pneumoniae also can cause pneumonia. It typically produces milder symptoms than do other types of pneumonia. Walking pneumonia is an informal name given to this type of pneumonia, which typically isn't severe enough to require bed rest.</li>
            <li><strong>Fungi.</strong> This type of pneumonia is most common in people with chronic health problems or weakened immune systems, and in people who have inhaled large doses of the organisms. The fungi that cause it can be found in soil or bird droppings and vary depending upon geographic location.</li>
            <li><strong>Viruses, including COVID-19.</strong> Some of the viruses that cause colds and the flu can cause pneumonia. Viruses are the most common cause of pneumonia in children younger than 5 years. Viral pneumonia is usually mild. But in some cases it can become very serious. Coronavirus 2019 (COVID-19) may cause pneumonia, which can become severe.</li>
        </ul>
        <p ><strong>Hospital-acquired pneumonia</strong></p>
        <ul style="list-style-type: disc;">
            <li>Some people catch pneumonia during a hospital stay for another illness. Hospital-acquired pneumonia can be serious because the bacteria causing it may be more resistant to antibiotics and because the people who get it are already sick. People who are on breathing machines (ventilators), often used in intensive care units, are at higher risk of this type of pneumonia.</li>
        </ul>
        <p ><strong>Health care-acquired pneumonia</strong></p>
        <ul style="list-style-type: disc;">
            <li>Health care-acquired pneumonia is a bacterial infection that occurs in people who live in long-term care facilities or who receive care in outpatient clinics, including kidney dialysis centers. Like hospital-acquired pneumonia, health care-acquired pneumonia can be caused by bacteria that are more resistant to antibiotics.</li>
        </ul>
        <p ><strong>Aspiration pneumonia</strong></p>
        <ul style="list-style-type: disc;">
            <li>Aspiration pneumonia occurs when you inhale food, drink, vomit or saliva into your lungs. Aspiration is more likely if something disturbs your normal gag reflex, such as a brain injury or swallowing problem, or excessive use of alcohol or drugs.</li>
        </ul>

        <div class="row">
            <div class="col-lg-7">
                <img src="/static/pneumonia3.png" width="80%" height="80%">
            </div>
            <div class="col-lg-5">
            <p ><strong>Prevention</strong></p>
            <p ><strong>When to see a doctor</strong></p>
            <p>See your doctor if you have difficulty breathing, chest pain, persistent fever of 102 F (39 C) or higher, or persistent cough, especially if you're coughing up pus.</p>
            <p>It's especially important that people in these high-risk groups see a doctor:</p>
    <ul style="list-style-type: disc;">
        <li>Adults older than age 65</li>
        <li>Children younger than age 2 with signs and symptoms</li>
        <li>People with an underlying health condition or weakened immune system</li>
        <li>People receiving chemotherapy or taking medication that suppresses the immune system</li>
        <p>For some older adults and people with heart failure or chronic lung problems, pneumonia can quickly become a life-threatening condition.</p>
    </ul>
        </div>
        </div>
    </body>
    </html>
    {% endblock %}