{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pneumonia about</title>
    <style>
        h1,h2,h3,h4,h5,h6
        {
           font-family:serif;
           justify-content: space-around;
           color:#130452;
           margin-left:23px;

        }
        p{
            font-size:17.5px;
            font-family: Oxygen, Ubuntu, Cantarell;
            margin-left:25px;
        }
        h3{
            font-size:27px;
            font-weight: bolder;
        }
        h4{
            font-size:21px;
            font-weight: bolder;
        }
        li{
            font-family:serif;
           justify-content: space-around;
            font-size:17px;
            font-weight: 300px;
        }
        ul
        {
            font-family:serif;
           justify-content: space-around;
            list-style: disc;
            margin-left:25px;
        }
    </style>
    </head>
    <body>
        <div class="card card-body" style="border-color:transparent;">
            <div class="row">
                <div class="col-lg-5">
<h2>
	Overview
</h2>
<p>
	Pneumonia is an infection that inflames the air sacs in one or both lungs. 
    
</p>
<p>
	The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, 
    and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.
</p>
<p>
	Pneumonia can range in seriousness
    from mild to life-threatening. It is most serious for infants and young children,
     people older than age 65, and people with health problems or weakened immune
     systems.
</p>
</div>
<div class="col-lg-7">
    <img src="/static/pneumonia1.png" width="80%" height="100%">
</div>
</div>
<div class="testimonial-group">
    <div class="pricing-grid-item-testimonial blurple">
        <div class="testimonial">
            <div class="testimonial-avatar">
                <h3>Symptoms</h3>
            </div>
            <div class="testimonial-paragraph" style="line-height: 30px">
                <li>Chest pain when you breathe or cough</span></span></li>
                <li>Confusion or changes in mental awareness (in adults age 65 and older)</span></span>
                </li>
                <li>Cough, which may produce phlegm</span></span></li>
                <li>Fatigue</span></span></li>
                <li>Fever, sweating and shaking chills</span></span></li>
                <li>Lower than normal body temperature (in adults older than age 65 and people with weak
                    immune systems)</span></span></li>
                <li>Nausea, vomiting or diarrhea</span></span></li>
                <li>Shortness of breath</span></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pricing-grid-item-testimonial forest-medium">
        <div class="testimonial">
            <div class="testimonial-avatar">
                <h3>Risk factors</h3>
            </div>
            <div class="testimonial-paragraph">

                <p>Pneumonia can affect anyone. But the two age groups at highest risk
                    are:</span></span></p>
                <ul style="list-style-type: disc;>
Children who are 2 years old or younger</span></span></li>
People who are age 65 
or older</span></span></li>
</ul>
<p>Other risk factors include:</span></span></p>
<ul style=" list-style-type: disc;">
                    <li>Being hospitalized.</span></strong>&nbsp;You&apos;re at greater risk of
                        pneumonia if you&apos;re in a hospital intensive care unit, especially if
                        you&apos;re on a machine that helps you breathe (a ventilator).</span></li>
                    <li>Chronic disease.</span></strong>&nbsp;You&apos;re more likely to get pneumonia
                        if you have asthma, chronic obstructive pulmonary disease (COPD) or heart
                        disease.</span></li>
                    <li>Smoking.</span></strong>&nbsp;Smoking damages your body&apos;s natural defenses
                        against the bacteria and viruses that cause pneumonia.</span></li>
                    <li>Weakened or suppressed immune system.</span></strong>&nbsp;People who have
                        HIV/AIDS, who&apos;ve had an organ transplant, or who receive chemotherapy or
                        long-term steroids are at risk.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-7">
    <img src="/static/pneumonia2.png" width="80%" height="100%">
</div>
<div class="container">
<div class="card card-body" style="border: 1px solid #c0faff; box-shadow: 0 0 2px #c0faff;">
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span
style='font-size: 24px; font-family: "Times New Roman", Times, serif; color: rgb(17, 17, 17);'>Overview</span>
</p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Pneumonia is an infection that inflames the air
    sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing
    cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including
    bacteria, viruses and fungi, can cause pneumonia.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Pneumonia can range in seriousness from mild to
    life-threatening. It is most serious for infants and young children, people older than age 65, and
    people with health problems or weakened immune systems.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 24px; color: rgb(17, 17, 17);">Symptoms</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">The signs and symptoms of pneumonia vary from mild
    to severe, depending on factors such as the type of germ causing the infection, and your age and
    overall health. Mild signs and symptoms often are similar to those of a cold or flu, but they last
    longer.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Signs and symptoms of pneumonia may
    include:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Chest pain when you breathe or
        cough</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Confusion or changes in mental awareness (in
        adults age 65 and older)</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Cough, which may produce phlegm</span></span>
</li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Fatigue</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Fever, sweating and shaking
        chills</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Lower than normal body temperature (in adults
        older than age 65 and people with weak immune systems)</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Nausea, vomiting or diarrhea</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Shortness of breath</span></span></li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Newborns and infants may not show any sign of the
    infection. Or they may vomit, have a fever and cough, appear restless or tired and without energy,
    or have difficulty breathing and eating.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><strong><span
        style="font-size: 16px; color: rgb(17, 17, 17);">When to see a doctor</span></strong></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">See your doctor if you have difficulty breathing,
    chest pain, persistent fever of 102 F (39 C) or higher, or persistent cough, especially if
    you&apos;re coughing up pus.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">It&apos;s especially important that people in these
    high-risk groups see a doctor:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Adults older than age 65</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Children younger than age 2 with signs and
        symptoms</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">People with an underlying health condition or
        weakened immune system</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">People receiving chemotherapy or taking
        medication that suppresses the immune system</span></span></li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">For some older adults and people with heart failure
    or chronic lung problems, pneumonia can quickly become a life-threatening condition.</span></span>
</p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 24px; color: rgb(17, 17, 17);">Causes</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Many germs can cause pneumonia. The most common are
    bacteria and viruses in the air we breathe. Your body usually prevents these germs from infecting
    your lungs. But sometimes these germs can overpower your immune system, even if your health is
    generally good.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Pneumonia is classified according to the types of
    germs that cause it and where you got the infection.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><strong><span
        style="font-size: 16px; color: rgb(17, 17, 17);">Community-acquired
        pneumonia</span></strong></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Community-acquired pneumonia is the most common
    type of pneumonia. It occurs outside of hospitals or other health care facilities. It may be caused
    by:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Bacteria.</span></strong>&nbsp;The most common cause
    of bacterial pneumonia in the U.S. is Streptococcus pneumoniae. This type of pneumonia can occur on
    its own or after you&apos;ve had a cold or the flu. It may affect one part (lobe) of the lung, a
    condition called lobar pneumonia.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Bacteria-like
            organisms.</span></strong>&nbsp;Mycoplasma pneumoniae also can cause pneumonia. It typically
    produces milder symptoms than do other types of pneumonia. Walking pneumonia is an informal name
    given to this type of pneumonia, which typically isn&apos;t severe enough to require bed
    rest.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Fungi.</span></strong><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">&nbsp;This type of pneumonia is most common in
        people with chronic health problems or weakened immune systems, and in people who have inhaled
        large doses of the organisms. The fungi that cause it can be found in soil or bird droppings and
        vary depending upon geographic location.</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Viruses,
            including&nbsp;COVID-19.</span></strong>&nbsp;Some of the viruses that cause colds and the
    flu can cause pneumonia. Viruses are the most common cause of pneumonia in children younger than 5
    years. Viral pneumonia is usually mild. But in some cases it can become very serious. Coronavirus
    2019 (COVID-19) may cause pneumonia, which can become severe.</span></li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><strong><span
        style="font-size: 16px; color: rgb(17, 17, 17);">Hospital-acquired
        pneumonia</span></strong></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Some people catch pneumonia during a hospital stay
    for another illness. Hospital-acquired pneumonia can be serious because the bacteria causing it may
    be more resistant to antibiotics and because the people who get it are already sick. People who are
    on breathing machines (ventilators), often used in intensive care units, are at higher risk of this
    type of pneumonia.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><strong><span
        style="font-size: 16px; color: rgb(17, 17, 17);">Health care-acquired
        pneumonia</span></strong></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Health care-acquired pneumonia is a bacterial
    infection that occurs in people who live in long-term care facilities or who receive care in
    outpatient clinics, including kidney dialysis centers. Like hospital-acquired pneumonia, health
    care-acquired pneumonia can be caused by bacteria that are more resistant to
    antibiotics.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><strong><span
        style="font-size: 16px; color: rgb(17, 17, 17);">Aspiration pneumonia</span></strong></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Aspiration pneumonia occurs when you inhale food,
    drink, vomit or saliva into your lungs. Aspiration is more likely if something disturbs your normal
    gag reflex, such as a brain injury or swallowing problem, or excessive use of alcohol or
    drugs.</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 24px; color: rgb(17, 17, 17);">Risk factors</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Pneumonia can affect anyone. But the two age groups
    at highest risk are:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">Children who are 2 years old or
        younger</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">People who are age 65 or older</span></span>
</li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Other risk factors include:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Being hospitalized.</span></strong>&nbsp;You&apos;re
    at greater risk of pneumonia if you&apos;re in a hospital intensive care unit, especially if
    you&apos;re on a machine that helps you breathe (a ventilator).</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Chronic disease.</span></strong>&nbsp;You&apos;re
    more likely to get pneumonia if you have asthma, chronic obstructive pulmonary disease (COPD) or
    heart disease.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Smoking.</span></strong>&nbsp;Smoking damages your
    body&apos;s natural defenses against the bacteria and viruses that cause pneumonia.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Weakened or suppressed immune
            system.</span></strong>&nbsp;People who have HIV/AIDS, who&apos;ve had an organ transplant,
    or who receive chemotherapy or long-term steroids are at risk.</span></li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 24px; color: rgb(17, 17, 17);">Complications</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">Even with treatment, some people with pneumonia,
    especially those in high-risk groups, may experience complications, including:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Bacteria in the bloodstream
            (bacteremia).</span></strong>&nbsp;Bacteria that enter the bloodstream from your lungs can
    spread the infection to other organs, potentially causing organ failure.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Difficulty breathing.</span></strong>&nbsp;If your
    pneumonia is severe or you have chronic underlying lung diseases, you may have trouble breathing in
    enough oxygen. You may need to be hospitalized and use a breathing machine (ventilator) while your
    lung heals.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Fluid accumulation around the lungs (pleural
            effusion).</span></strong><span
        style="font-size: 12pt; color: rgb(17, 17, 17);">&nbsp;Pneumonia may cause fluid to build up in
        the thin space between layers of tissue that line the lungs and chest cavity (pleura). If the
        fluid becomes infected, you may need to have it drained through a chest tube or removed with
        surgery.</span></span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Lung abscess.</span></strong>&nbsp;An abscess occurs
    if pus forms in a cavity in the lung. An abscess is usually treated with antibiotics. Sometimes,
    surgery or drainage with a long needle or tube placed into the abscess is needed to remove the
    pus.</span></li>
</ul>
<div class="col-lg-7">
    <img src="/static/pneumonia3.png" width="80%" height="100%">
</div>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 24px; color: rgb(17, 17, 17);">Prevention</span></span></p>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:18.0pt;margin-left:0cm;line-height:18.0pt;font-size:15px;font-family:"Calibri",sans-serif;background:white;'>
<span style="font-family: 'Times New Roman', Times, serif;"><span
    style="font-size: 16px; color: rgb(17, 17, 17);">To help prevent pneumonia:</span></span></p>
<ul style="list-style-type: disc;margin-left:53px;">
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Get vaccinated.</span></strong>&nbsp;Vaccines are
    available to prevent some types of pneumonia and the flu. Talk with your doctor about getting these
    shots. The vaccination guidelines have changed over time so make sure to review your vaccination
    status with your doctor even if you recall previously receiving a pneumonia vaccine.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Make sure children get
            vaccinated.</span></strong>&nbsp;Doctors recommend a different pneumonia vaccine for
    children younger than age 2 and for children ages 2 to 5 years who are at particular risk of
    pneumococcal disease. Children who attend a group child care center should also get the vaccine.
    Doctors also recommend flu shots for children older than 6 months.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Practice good hygiene.</span></strong>&nbsp;To
    protect yourself against respiratory infections that sometimes lead to pneumonia, wash your hands
    regularly or use an alcohol-based hand sanitizer.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Don&apos;t smoke.</span></strong>&nbsp;Smoking
    damages your lungs&apos; natural defenses against respiratory infections.</span></li>
<li><span style="font-family: 'Times New Roman', Times, serif;"><strong><span
            style="font-size:12.0pt;color:#111111;">Keep your immune system
            strong.</span></strong>&nbsp;Get enough sleep, exercise regularly and eat a healthy
    diet.</span></li>
</ul>
<p
style='margin-top:0cm;margin-right:0cm;margin-bottom:8.0pt;margin-left:120.5pt;line-height:107%;font-size:15px;font-family:"Calibri",sans-serif;text-indent:-7.1pt;'>
<span style='font-family: "Times New Roman", Times, serif;'>&nbsp;</span></p>
</div>
</div>

</body>
</html>
{% endblock %}