{% extends 'main.html' %}
{% block content %}
<div class="row">
  <div class="content">
    <div class="banner">
      <div class="child">
        <div id="uploadArea" class="upload-area">
          <div class="upload-area__header">
            <h2 class="upload-area__title" style=" margin-top:10px;text-align: center;color: #13065c; font-size: 28px;font-weight: bolder;font-family:'Times New Roman', Times, serif">Skin Diseases Prediction</h2>
          <h6>Upload your x-ray 
          <svg height="35px"  width="35px" viewBox="0 0 22 40" fill="none" x="0px" y="0px"><path fill-rule="evenodd" clip-rule="evenodd" d="M9 19.5C9.55228 19.5 10 19.9477 10 20.5V21C10 21.5523 10.4477 22 11 22H21C21.5523 22 22 21.5523 22 21V20.5C22 19.9477 22.4477 19.5 23 19.5C23.5523 19.5 24 19.9477 24 20.5V21C24 22.6569 22.6569 24 21 24H11C9.34315 24 8 22.6569 8 21V20.5C8 19.9477 8.44772 19.5 9 19.5Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16 20C15.4477 20 15 19.5523 15 19V10.4677L12.7179 12.8211C12.3334 13.2176 11.7003 13.2274 11.3039 12.8429C10.9074 12.4584 10.8976 11.8253 11.2821 11.4289L15.2821 7.30385C15.4704 7.10962 15.7295 7 16 7C16.2706 7 16.5296 7.10962 16.7179 7.30385L20.7179 11.4289C21.1024 11.8253 21.0926 12.4584 20.6961 12.8429C20.2997 13.2274 19.6666 13.2176 19.2821 12.8211L17 10.4677V19C17 19.5523 16.5523 20 16 20Z" fill="black"/><text x="0" y="47" fill="#000000"></svg>
          </h6>
          <p class="upload-area__paragraph">
            Image File should be 
            <strong class="upload-area__tooltip">
              Like
              <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
            </strong>
          </p>
        </div>
        <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
          <span class="drop-zoon__icon">
            <i class='bx bxs-file-image'></i>
          </span>
          <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
          <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
          <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
          <input type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
        </div>
        <div id="fileDetails" class="upload-area__file-details file-details">
          <div id="uploadedFile" class="uploaded-file">
            <div class="uploaded-file__icon-container">
              <i class='bx bxs-file-blank uploaded-file__icon'></i>
              <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
            </div>
        </div>
        </div>
        <button>Submit</button>
        <button>Reset</button>
        <div id="uploadedFileInfo" class="uploaded-file__info">
          <span class="uploaded-file__name">Proejct 1</span>
          <span class="uploaded-file__counter">0%</span>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
<script type="text/javascript">
const uploadArea = document.querySelector('#uploadArea')
const dropZoon = document.querySelector('#dropZoon');
const loadingText = document.querySelector('#loadingText');
const fileInput = document.querySelector('#fileInput');
const previewImage = document.querySelector('#previewImage');
const fileDetails = document.querySelector('#fileDetails');
const uploadedFile = document.querySelector('#uploadedFile');
const uploadedFileInfo = document.querySelector('#uploadedFileInfo');
const uploadedFileName = document.querySelector('.uploaded-file__name');
const uploadedFileIconText = document.querySelector('.uploaded-file__icon-text');
const uploadedFileCounter = document.querySelector('.uploaded-file__counter');
const toolTipData = document.querySelector('.upload-area__tooltip-data');
const imagesTypes = [
  "jpeg",
  "png",
  "jpg",
];
toolTipData.innerHTML = [...imagesTypes].join(', .');
dropZoon.addEventListener('dragover', function (event) {
  event.preventDefault();
  dropZoon.classList.add('drop-zoon--over');
});
dropZoon.addEventListener('dragleave', function (event) {
  dropZoon.classList.remove('drop-zoon--over');
});
dropZoon.addEventListener('drop', function (event) {
  event.preventDefault();
  dropZoon.classList.remove('drop-zoon--over');
  const file = event.dataTransfer.files[0];
  uploadFile(file);
});
dropZoon.addEventListener('click', function (event) {
  fileInput.click();
});
fileInput.addEventListener('change', function (event) {
  const file = event.target.files[0];
  uploadFile(file);
});
function uploadFile(file) {
  const fileReader = new FileReader();
  const fileType = file.type;
  const fileSize = file.size;
  if (fileValidate(fileType, fileSize)) {
    dropZoon.classList.add('drop-zoon--Uploaded');
    loadingText.style.display = "block";
    previewImage.style.display = 'none';
    uploadedFile.classList.remove('uploaded-file--open');
    uploadedFileInfo.classList.remove('uploaded-file__info--active');
    fileReader.addEventListener('load', function () {
      setTimeout(function () {
        uploadArea.classList.add('upload-area--open');
        loadingText.style.display = "none";
        previewImage.style.display = 'block';
        fileDetails.classList.add('file-details--open');
        uploadedFile.classList.add('uploaded-file--open');
        uploadedFileInfo.classList.add('uploaded-file__info--active');
      }, 500); 
      previewImage.setAttribute('src', fileReader.result);
      uploadedFileName.innerHTML = file.name;
      progressMove();
    });
    fileReader.readAsDataURL(file);
  } else {
    this; 
  };
};
function progressMove() {
  let counter = 0;
  setTimeout(() => {
    let counterIncrease = setInterval(() => {
      if (counter === 100) {
        clearInterval(counterIncrease);
      } else { 
        counter = counter + 10;
        uploadedFileCounter.innerHTML = `${counter}%`
      }
    }, 100);
  }, 600);
};
function fileValidate(fileType, fileSize) {
  let isImage = imagesTypes.filter((type) => fileType.indexOf(`image/${type}`) !== -1);
  if (isImage[0] === 'jpeg') {
    uploadedFileIconText.innerHTML = 'jpg';
  } else { 
    uploadedFileIconText.innerHTML = isImage[0];
  };
  if (isImage.length !== 0) {
    if (fileSize <= 2000000) { 
      return true;
    } else {
      return alert('Please Your File Should be 2 MB or Less');
    };
  } else {
    return alert('Please make sure to upload An Image File Type');
  };
};
</script>

{% endblock %}