{% extends 'main.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<head>
    <meta charset="UTF-8">
    <title>skin about</title>
    <style>
        h1,h2,h3,h4,h5,h6
        {
           font-family:serif;
           justify-content: space-around;
           color:#130452;
           margin-left:23px;

        }
        p{
            font-size:17.5px;
            font-family: Oxygen, Ubuntu, Cantarell;
            margin-left:25px;
        }
        h3{
            font-size:27px;
            font-weight: bolder;
        }
        h4{
            font-size:21px;
            font-weight: bolder;
        }
        li{
            font-family:serif;
           justify-content: space-around;
            font-size:17px;
            font-weight: 300px;
        }
        ul
        {
            font-family:serif;
           justify-content: space-around;
            list-style: disc;
            margin-left:25px;
        }
    </style>
    </head>
    <body>
        <div class="card card-body" style="border-color:transparent;">
            <div class="row">
                <div class="col-lg-5">
        <p ><strong>Overview</strong></p>
        <p >What do you know about the different types of skin diseases? If you have a walk through any drugstore or take one hour to watch the television, you will recognize that the healthy skin plays an important part in the life of each people. In many people&rsquo;s opinions, the flawless skin is a distant dream. However, it is very difficult for them to get it. All of us can suffer some skin conditions in the lifetime. In fact, there are many common types of skin diseases that the man should notice. They may be skin disorder and skin rash. </p>
        <p >With the several skin diseases, the types and the causes are quite different. Moreover, the symptoms are not so popular and not so benign. There are many different types of skin diseases existing, with the large difference in severity and symptoms. These types of skin diseases will interfere with the daily activities like at school or work, individual relationships, and social activities.</p>
        <br><br>
        <p ><strong>The Common Types Of Skin Diseases</strong></p>
        <p ><strong>I. Common Types Of Skin Diseases &ndash; Skin Disorders</strong></p>
    </div>
    <div class="col-lg-7">
        <img src="/static/skin1.png" width="100%" height="100%">
    </div>
    </div>
    <div class="row">
        <p ><strong>1. Skin Cancer</strong></p>
        <p ><strong>Definition:</strong></p>
        <ul style="list-style-type: disc;margin-left:1cmundefined;">
            <li>Skin cancer &nbsp;is one of the common types of skin diseases that can occur in many people. It is very dangerous if you don&rsquo;t treat it quickly. Skin cancer is the uncontrolled development of the cancerous tissues on the skin.&nbsp;</li>
            <li>These cells can grow into the other tissues and organs, such as bone and lymph nodes if you stop medically treating. According to the Skin Cancer Association, the skin cancer is the most general cancer in the United States, having a terrible effect on one in five Americans in their lifetime.</li>
        </ul>
        <p ><strong>Types:</strong></p>
        <ul style="list-style-type: disc;">
            <li><strong>Carcinoma basal cell</strong>&nbsp; can occur on the skin of sun exposure. The common symptoms of carcinoma basal cell can be a flesh-colored or pearly oval swelling that can cause the ulcer bleeding; or smoothly-red acne may make an indentation in the center; or the skin on the back or chest has the brown, reddish, or bluish-black areas.</li>
            <li><strong>Carcinoma squamous</strong>&nbsp;cell can occur on the skin of sun exposure. However, its symptoms are different from carcinoma basal cell. If you are suffering from carcinoma squamous, you may see a reddish, firm, wart-like swelling develops gradually and/ or a smooth spot that will become a non-healing bleeding ulcer</li>
            <li><strong>Actinic Keratosis</strong>&nbsp; This is a different type of skin cancers, one of the most popular forms of the pre-cancer. This condition can grow into the carcinoma basal cell in most of the people who got two or much more skin cancer diseases. These skin cancer cells can be the predecessor for the carcinoma squamous cell. Both of them are usually misunderstood as the other. The visible symptoms that you can see when this condition occurs are the rough, pink, or red area on the skin of sun exposure</li>
            <li><strong>Melanoma</strong>:&nbsp;Melanoma is one of the common types of skin diseases and its symptoms are very easy to know. This is a several types of skin disease cancer in which it is less popular than the other skin cancer. Melanoma is considered as the most dangerous skin disease. It is the main reason causing seventy- five percent of all deaths related to the skin cancer. Melanoma usually develops in the skin tissues that create the skin color, and it also creates the lesions or moles that comply with a pattern of ABCDE (have mentioned above) in their&nbsp;skin disorders.</li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-7">
            <img src="/static/skin.png" width="80%" height="90%">
        </div>
        <div class="col-lg-5">
        <p ><strong>Symptoms:</strong></p>
        <ul style="list-style-type: disc;">
            <li>If you are in the group of the high risks for skin cancer or you have already treated for some types of illness, you will have the high opportunity to make familiar with how skin cancer issues look. But how can you know whether you have skin cancer or not? Here are its common&nbsp;symptoms that you can see easily:</li>
            <li>The unexpected changes in shape, color, size or structure of moles, or other skin expansion;</li>
            <li>An inflamed or open wound skin that will not heal in a few days;</li>
            <li>The change in an actual mole;</li>
            <li>The small, multicolored, and dark spots with unusual borders that cause bleeding and create a scab;</li>
            <li>A mole is larger than an eraser;</li>
            <li>A cluster of dark, firm, and shiny bumps.</li>
            <li>In case, you think it is very difficult to keep all these symptoms in your mind, there is a simple way to remember the symptoms of the skin cancer is remembering the chart of ABCDEs involved in the skin cancer, such as Asymmetry, unusual Borders, changes the Color, Diameter bigger than an eraser, Evolution of a mole&apos;s features.</li>
        </ul>
    </div>
    </div>
        <p ><strong>Causes Of Skin Cancer</strong></p>
        <ul style="list-style-type: disc;">
            <li>The skin cancer will happen when there are some errors in the DNA skin tissues. The errors will cause the tissues developing out of control and create the great volume of the cancer tissues.</li>
            <li>The skin cancer will start on the top layer of your skin, called the epidermis. This is the top layer helps protect the skin tissues because your body is lightened continuously by the sunlight.</li>
            <li>The epidermis includes three important types of tissues, they are:</li>
            <li>Basal tissues, which bring about the cells of the new skin, placed under the squamous tissues.</li>
            <li>Squamous tissues placed on the outside surface and have the important function of the inner lining of skin.</li>
            <li>Melanocytes are the factors that give melanin. When your body is in the sunlight, melanocytes will give more melanin to protect the deeper layers of the skin.</li>
        </ul>
        <p ><strong>2. Rubella</strong></p>
        <p ><strong>Definition</strong></p>
        <ul style="list-style-type: disc;">
            <li>Although Rubella is an infectious disease that caused by a kind of virus developing in the tissues in the lungs and throat, it is also considered as one of the common types of skin diseases because of its symptoms. It can spread quickly via the air whenever the patients who got the infected sneeze or a cough.</li>
            <li>Those people who have the measles will include the symptoms like a cough, fever, runny nose, and the rash mark that is the signal of the rubella disease. If the rash mark is not treated, it may result in complicated diseases, such as pneumonia, ear infection, and encephalitis.</li>
        </ul>
        <p ><strong>Symptoms</strong></p>
        <p >During one week to two weeks, after becoming infectious with the rash marks, the first indications will appear. The earliest&nbsp;indication is getting flu or cold, with a cough, sore throat, fever, and runny nose. The eyes are getting runny and red. In three or five days later, the red rash mark is going to develop rapidly on the body from head to toe.</p>
        <p ><strong>Types Of Rubella</strong></p>
        <ul style="list-style-type: disc;">
            <li>Koplik&rsquo;s Spots: &nbsp;If you pay attention to the symptoms of the first rash mark in two or three days, you will see some small spots inside your mouth. The spots are often red with the blue-white mark in the middle; they are named Koplik&rsquo;s spots. When the symptoms of the measles disappear, the Koplik&rsquo;s spots will be faded.</li>
            <li>The Measles Rash: &nbsp;It is a spot of reddish-brown or red color. It firstly begins on the face and spreads to all over the body in a few days later. Finally, it will cover the whole body with colored streaks bumps, from the neck to the arms, legs, and trunk until it ultimately reaches to the feet. The rash will last for five or six days.</li>
        </ul>
        <p ><strong>3. Acne</strong></p>
        <p ><strong>Definition</strong></p>
        <ul style="list-style-type: disc;">
            <li>Your skin always has many small holes that called the skin pores. It can be blocked by bacteria, dirt, and oil. When it happens, you can get the pimples. In the case of the skin is blocked repeatedly by those above conditions, you will get acne.</li>
            <li>Based on the latest research of the American Academy of Dermatology, acne is one of the common types of skin diseases that most of us often face&nbsp;. It is the popular skin issue for people all over the world. Though acne is not the life-threatening disease, it will make a great pain, especially when it becomes more seriously. Acne also gives the upset feelings. If acne develops terribly on the face, it may affect the confidence and cause the permanent scars. Luckily, there are many powerful solutions to treat this skin disease that decrease not only the zit you take but also the scars to occur.</li>
        </ul>
        <p ><strong>Causes</strong></p>
        <ul style="list-style-type: disc;">
            <li>Your skin will get the acne if the small holes are interfered by bacteria, dead skin, or oil on the skin. Every pore is the opening of a follicle on your skin. The follicle is made of an oil gland and a hair. The oil gland has the main function of producing the oil, which travels out of the skin pore, up the hair, and on the skin. The oil helps the skin soft, gentle, and lubricated. If you have acne, one or more problems may have trouble during this lubrication procedure. Here are the possible reasons:</li>
            <li>The follicle produces too much sebum or oil;</li>
            <li>Many dead skin tissues are collecting in the skin pore;</li>
            <li>Some types of harmful bacteria have developed in the skin pore.</li>
        </ul>
        <p ><strong>Symptoms</strong></p>
        <ul style="list-style-type: disc;">
            <li>Acne can be extensively developed everywhere on the body, especially on the neck, face, back, shoulders, and chest. You should especially pay attention to the color of the pimples that they are black or white.</li>
            <li>Blackheads&nbsp;often exist on the skin surface with the black appearance.</li>
            <li>Whiteheads are opposite to the blackheads; they are under the skin surface with the white appearance.</li>
            <li>While both blackheads and whiteheads are the general types of acne, the other harmful damage may occur. The inflammatory lesions can cause the scars of the skin and contain the following symptoms:</li>
            <li>Papules: Bumps are developed in the small red color. They are caused by the infection of the hair follicles.</li>
            <li>Pustules: Pimples will appear with small red color, and there will be pus development in the pimples.</li>
            <li>Nodules: Lumps are painful and solid. They are developing under the skin surface.</li>
            <li>Cysts: Infections are developing under the skin surface, including pus and are usually painful.</li>
        </ul>
        <div class="row">
            <div class="col-lg-5">
        <p ><strong>4. Cold Sores</strong></p>
        <p ><strong>Definition</strong></p>
        <ul style="list-style-type: disc;">
            <li>Cold sores exist near the mouth and in different areas of the face. They are normally fluid-filled and red blisters. Rarely, they develop on the nose, fingers, and inside the mouth. They are often converged together in the patches. The cold sores may exist on the skin for 14 days or longer.</li>
            <li>There is a general virus, named herpes simplex, is the main reason causing the cold sores. They can transfer from one person to another through the close contact like kissing. The sores easily spread even if they are not visible.</li>
            <li>There is no cure for treating the cold sores, and they easily return. Some drugs are used to treat the cold sores and fight against them to come back.</li>
        </ul>
        </div>
        <div class="col-lg-7">
            <img src="/static/skin2.png" width="100%" height="100%">
        </div>
        </div>
        <p ><strong>Causes</strong></p>
        <ul style="list-style-type: disc;">
            <li>As mentioned above, there is a general virus, named herpes simplex, is the main reason causing the cold sores. The virus is classified into two main types, they are:</li>
            <li>+ Type 1: The herpes simplex virus (HSV-1) often causes the cold sores.</li>
            <li>+ Type 1: The herpes simplex virus (HSV-2) usually causes genital herpes.</li>
            <li>However, both types of virus have the similar appearance in the actual sores. HSV-1 is able to cause the sores on the genitals and HSV- 2 is able to cause the sore on the mouth. However, it is the rare condition.</li>
            <li>The visible cold sores are infectious, but the sores easily spread even if they are not visible. The herpes simplex virus can develop quickly through close contact with the infected patients, such as kissing, sharing food, or sharing cosmetics. In addition to, both genital herpes and cold sores can spread through oral sex.</li>
        </ul>
        <p ><strong>Re-infection</strong></p>
        <div >
            <ul style="margin-bottom:0cm;list-style-type: disc;">
                <li >When you got the virus of simplex herpes, it is untreated thoroughly; or even when the skin sores have cured, this type of virus still exists in the body. It means that the new sores can happen at any time. When some people have weak immune systems, they will frequently get the virus in an easy way like during sickness or stressful time.</li>
            </ul>
        </div>
        <p ><strong>Symptoms</strong></p>
        <ul style="list-style-type: disc;">
            <li>Before recognizing the development of the cold sore, you need to care about the burning or tingling sensation on your face or lips in a few days. When the cold sore appears, you will see a red, raised blister fluid. It may give the painful feelings when there will be more than one existing cold sore.</li>
            <li>The cold sore may develop for two weeks and will be infectious until it grows the upper crust.</li>
            <li>Cold sore &nbsp;is one of the common types of skin diseases and its symptoms can be in the course of forming an outbreak like being sick with a fever, aching muscles, getting swollen lymph glands.</li>
            <li>If you touch the cold sore before you touch your eyes, you will get the eye infections. In that case, you had better visit the doctor as soon as possible if you got an eye infection. The virus of simplex herpes is the main reason to make the infection related to the eyes, so that eye infections have resulted in losing the permanent vision once this disease is not immediately treated.</li>
            <li>The primary infection of the herpes simplex virus can result in more serious complications and symptoms when your body has not any protective barrier to fight against the virus and bacteria. Complications are infrequent, but can happen to the young children. You had better visit your doctor in the shortest time if you are experiencing some of the following symptoms such as difficulty in swallowing or breathing, getting the persistent fever with high temperature, the irritated and red eyes.</li>
            <li>For some people who have the weak immune system (in case of the people got AIDS or cancer) or get eczema disease, complications are easier to develop. On the other hand, if you think you are contracting with the virus of simplex herpes, you should contact your doctor.</li>
        </ul>
        <p ><strong>5. Psoriasis</strong></p>
        <p ><strong>Definition</strong></p>
        <div >
            <ul style="margin-bottom:0cm;list-style-type: disc;">
                <li >There are many common types of skin diseases on the human body. Among them, psoriasis is a disease of the chronic skin which showed off by scaly and red areas of the skin. Psoriasis looks so different. It depends on its situation and its type. For people who got this disease (Psoriasis is a chronic an autoimmune disease), they are going to catch the violent pain and itch.</li>
            </ul>
        </div>
        <p ><strong>Types Of Psoriasis</strong></p>
        <ul style="list-style-type: disc;">
            <li>Based on the research of the National Psoriasis Association, there are five main kinds of psoriasis including guttate, pustular, plaque, inverse, and erythrodermic.</li>
            <li>In addition, there are also some sub-categories of the types of psoriasis, which have the several appearances depending on their location on your body.</li>
            <li>Plaque Psoriasis: &nbsp;It is the most popular form of psoriasis, giving the great influence on 80% of people all over the world. Generally, it usually happens on the knees, elbows, scalp, and lower back. It has the characteristics in appearing some thick red areas of skin with a white or silver layer.</li>
            <li>Guttate Psoriasis:&nbsp;It appears under the forms of the small red marks on your skin. It is the second popular type of psoriasis. The marks usually appear on the limbs and the torso, but they sometimes happen on the scalp and face. They do not appear with the high density like the plaque psoriasis, but they can evolve into the plaque psoriasis during the time. Based on the report of the Health National Institutes, guttate psoriasis often appears during the time of the young adulthood or childhood.&nbsp;It often solves for a long time after processing the short- course treatment.</li>
            <li>Inverse Psoriasis:&nbsp;This type of skin disease usually occurs in the skin folds (such as in the armpits, in the groin area, and under the breasts). It is often shiny, red, and smooth. There are many patients who get inverse psoriasis also have a several appearances of psoriasis in the other areas of the body.</li>
            <li>Pustular Psoriasis: &nbsp;Pustular psoriasisis diagnosed by the white pimples surrounding the red skin. The pus inside the acne is not contagious. There are three types of pustular psoriasis. They are palmoplantar pustulosis, von Zumbusch, and acropustulosis. Each of those types has the different severity and symptoms. Pustular psoriasis can influence on some isolated sections of your body, such as feet, hands, or cover almost all surface of the skin.</li>
            <li>Erythrodermic Psoriasis: &nbsp;Based on the appreciation of the National Psoriasis Association, erythrodermic psoriasis is the rarest type of psoriasis. Moreover, it is extremely serious. This type of psoriasis has the several burns on the skin. It will cover the large sections of the body, and exfoliation usually happens in bigger portions than the typically small pieces to most of the psoriasis. Therefore, it is seriously painful and it will suggest the hospitalization. Erythrodermic psoriasis can develop together with pustular psoriasis, or increase from plaque psoriasis in the poorly controlled, widespread manner. It is possibly caused by an infection, sunburn, significantly stress, alcoholism, or suddenly stopping a kind of the systemic psoriasis medicine</li>
        </ul>
        <p ><strong>II. Types Of Skin Diseases &ndash; Skin Rash</strong></p>
        <p ><strong>1. Contact Dermatitis</strong></p>
        <p ><strong>Definition:</strong></p>
        <ul style="list-style-type: disc;">
            <li>You have already used a new product of&nbsp;skin care&nbsp;or detergent, and your skin has got irritated and red. Perhaps, you must have experienced the contact dermatitis. Contact dermatitis is one of the common types of skin diseases with its easy-to-see symptoms. This serious skin disease happens when the strange ingredients or the excessive contact with water let your skin become red, itchy, and inflamed.</li>
            <li>The reasons for most contact dermatitis are so different so that the patients may feel quite uncomfortable until they relieve itching.</li>
        </ul>
        <p ><strong>Types Of Contact Dermatitis</strong></p>
        <div >
            <ul style="margin-bottom:0cm;list-style-type: disc;">
                <li >According to the recent skin research, there are three kinds of contact dermatitis. They are contact dermatitis of allergenic, contact dermatitis of photo, contact dermatitis of the irritant.</li>
            </ul>
        </div>
        <p ><strong>Causes Of Contact Dermatitis&nbsp;</strong></p>
        <ul style="list-style-type: disc;">
            <li>The contact dermatitis by a photo is unpopular.&nbsp;It is the result of contacting with some active properties of sunscreen in which is being exposed to the sunlight.</li>
            <li>The contact dermatitis by an allergenic:&nbsp;This skin disease happens when the skin has the development of the allergic reaction after displaying to the strange ingredient. This main reason makes the body free the inflammatory chemicals that let the skin be irritated and itchy. The general causes of the contact dermatitis of allergenic include poisonous ivy or poisonous oak, aroma or chemicals in the skincare products and the cosmetics, rubber gloves, and jewelry like gold or nickel.</li>
            <li>The contact dermatitis by an irritant:&nbsp;Depending on the recent dermatology research, the contact dermatitis of irritant is the most general kind of contact dermatitis. This skin disease occurs when the skin has the contact with the toxic material. So far, the toxic properties that will cause the contact dermatitis of irritant including drain cleaners, the acidity of battery, bleach, Pepper spray, Kerosene oil, and chemical detergents.</li>
            <li>Moreover, the contact dermatitis of an irritant can happen in the case of the skin has contacted with some irritating ingredients like soap, or water too often. The people who are working as bartenders, hairdressers, and healthcare workers, usually get experience in the contact dermatitis of an irritant.</li>
        </ul>
        <p ><strong>Symptoms Of Contact Dermatitis</strong></p>
        <ul style="list-style-type: disc;">
            <li>The description of the contact dermatitis usually relies on the skin sensitive level and the cause. So that, symptoms related to the contact dermatitis of allergic include:</li>
            <li>Scaly, dry, and flaky skin</li>
            <li>Red skin</li>
            <li>Hives</li>
            <li>Dry or oozing blisters</li>
            <li>Absolutely itching</li>
            <li>Sun sensitivity</li>
            <li>Skin that being leathery and darkened</li>
            <li>Skin that burns together with the sores</li>
            <li>Face, eyes and groin areas are swelling</li>
            <li>The contact dermatitis of an irritant will have some slightly several symptoms, such as:</li>
            <li>Cracking skin because of extreme dryness</li>
            <li>Blistering</li>
            <li>Ulcerations</li>
            <li>Opening the sores</li>
            <li>Feeling tightened or stiff on the skin</li>
        </ul>
        <p ><strong>2. Fungal Infection</strong></p>
        <p ><strong>Definition</strong></p>
        <ul style="list-style-type: disc;">
            <li>One of the common types of skin diseases is a fungal infection. It can happen in the several areas of the body.</li>
            <li>The fungi are microorganisms that characterized by an ingredient in their cell walls called chitin.</li>
            <li>Some types of fungi are edible, like mushrooms. Another one will be the factor of being seriously dangerous, such as aspergillus until when they infect the bodies and result in the life-threatening diseases.</li>
            <li>There are some different types of fungi can cause the infections on the skin, nails, and lungs.</li>
        </ul>
        <p ><strong>Types Of Fungal Infection</strong></p>
        <div >
            <ul style="margin-bottom:0cm;list-style-type: disc;">
                <li >Though most of the fungi are innocuous to the humans, some of the fungi are able to cause the disease in the particular conditions. Fungi develop quickly by releasing the fungal spores in contacting directly or even breathing in. That is the reason why the fungal infections often have an effect on the skin, nails, and lungs. Fungi can make a puncture in the skin to influence your organs and leave the body infections.</li>
            </ul>
        </div>
        <p ><strong>According to the newest skin research, there are some common kinds of the fungal infection, they are:</strong></p>
        <ul style="list-style-type: disc;">
            <li>Ringworm: Ringworm is a type of fungal infection. It has a bad influence on the scalp and skin. It often brings the initial signs as an itchy, reddish, and scaly rash. It will become larger and creates a red ring during the time.</li>
            <li>Athlete&rsquo;s Foot: Some fungal infections, named dermatophytes, live on the skin, hair, and nails and thrive in warm, moist areas such as toes and particularly prevalent among the athletes. Therefore, the athlete&rsquo;s foot gives rise to be scaling, cracking, itching, or peeling of the skin.</li>
            <li>Fungal nail: the&nbsp;Fungal nail&nbsp;is a general fungal infection. It often begins with a small light of colorful spot on the nails. When it gets larger, it will change the color and the shape of the nail, and it becomes more brittle and thicker. It is often recurrent and painful.</li>
            <li>Jock Itch: Dermatophytes&nbsp;can influence the groin place, creating the infection of an itchy fungal skin. It is a problem for both boys and men, and women can have the chances to get the infection too.</li>
            <li>Other Opportunistic Organisms: Some types of fungal organisms do not infect in humans but cause the sickness and decline of immune systems.</li>
        </ul>
        <p >&nbsp;</p>
    </div>
    </body>
    </html>
    {% endblock %}